node_modules/
dist/
.wrangler/
*.log
ios/App/Pods/
ios/App/build/
ios/App/App/public/
ios/App/App/capacitor.config.json
ios/App/App/config.xml
android/app/build/
android/build/
android/.gradle/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/local.properties
android/capacitor-cordova-android-plugins/
ios/capacitor-cordova-ios-plugins/
*.keystore
*.jks
fastlane/report.xml
